<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="himg" class="jumbotron jumbotron-fluid" th:fragment="himage">
    <div class="container text-white">
        <h1 class="display-4">Best Online Shop</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, autem, beatae commodi doloribus
            eaque error facilis fugiat libero mollitia perferendis quo sapiente sed sequi soluta tempore temporibus vel
            vitae voluptatem?</p>
        <a href="#" class="btn btn-success">Try Now!</a>
    </div>

    <style>
        #himg {
            background: url("https://images.unsplash.com/photo-1509803992307-5ed1ac32efda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
            background-position: center;
        }
    </style>

</div>
</body>
</html>